:root {
  --contrast: #e8e8e8;
  --bgcolor: #f7f7f7;
}
.Hompage {
  background-color: var(--bgcolor);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: black;
}
.Hompage::-webkit-scrollbar {
  display: none;
}
.titleBar {
  background-color: var(--contrast);
  position: relative;
  z-index: 99;
  width: 100%;
}
.titleText {
  font-size: 21px !important;
  margin-left: 10px;
  font-size: 1.5rem;
  padding: 5px 0px 3px 50px;
  white-space: nowrap;
  cursor: pointer;
}
.searchSection {
  position: relative;
  width: 100%;
  /* background: radial-gradient(#1585ed, #0e61ae); */
  padding-top: 50px;
}
.rightMenu {
  margin-left: auto;
  padding-right: 80px;
}
.hamburger {
  display: none;
}

.footerBar {
  background-color: var(--contrast);
  position: relative;
}
.footerBar > .rightContent > div:hover {
  cursor: pointer;
}

@media screen and (max-width: 996px) {
  .rightMenu {
    padding-right: 30px;
  }
  .hamburger {
    display: block;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    color: #000 !important;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    height: inherit;
    font-size: 30px;
    padding: 2px;
  }
  .desktop-rightMenu {
    display: none;
  }
}
