.Hompage {
  background: radial-gradient(#1585ed, #0e61ae);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Hompage::-webkit-scrollbar {
  display: none;
}
.titleBar {
  position: relative;
  z-index: 99;
  background-color: #212121;
  width: 100%;
  color: #9e9e9e;
}
.titleText {
  font-size: 21px !important;
  margin-left: 10px;
  color: #9e9e9e;
  font-size: 1.5rem;
  padding: 5px 0px 3px 50px;
  white-space: nowrap;
  cursor: pointer;
}
.searchSection {
  position: relative;
  width: 100%;
  /* background: radial-gradient(#1585ed, #0e61ae); */
  padding-top: 50px;
  color: #fff;
}
.Hompage::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://alfassa.org/assets/templates/default/imgs/pattern.png)
    repeat center center;
  opacity: 0.4;
  width: 100%;
  z-index: 0;
}
.rightMenu {
  margin-left: auto;
  padding-right: 80px;
}
.hamburger {
  display: none;
}

.footerBar {
  position: relative;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}
.footerBar > .rightContent > div:hover {
  cursor: pointer;
}

@media screen and (max-width: 996px) {
  .rightMenu {
    padding-right: 30px;
  }
  .hamburger {
    display: block;
    color: #2196f3 !important;
    border: 1px solid white;
    background-color: #fff;
    border-radius: 100%;
    height: inherit;
    font-size: 30px;
    padding: 2px;
  }
  .desktop-rightMenu {
    display: none;
  }
}
