.BodySection {
  background-color: whitesmoke;
  padding: 20px 3.5%;
}
.BodySection > .title {
  font-size: 1.5rem;
}
.poweredBy {
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
  color: rgb(31, 27, 27);
  width: fit-content;
  margin-top: 3px;
  font-size: 14px;
}
.CardSection {
  margin-top: 7px;
}
.CardSection .card {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0, rgb(0 0 0 / 10%) 0 2px 3px 0;
  width: 300px;
  padding: 5px 10px;
}
.cardImage {
  width: 100px;
}

.card .cardTitle {
  font-size: 15px;
  font-weight: 600;
  padding: 3px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cardContent {
  font-size: 13px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.cardContentBody {
  height: 100px;
  padding: 3px 0px;
}
